body {
    display: grid;
    grid-template-areas: "head" "nav nav nav nav" "main main" "footer footer"
}


/*-----------------------------------Mobile Screens-----------------------------------*/

@media only screen and (max-width: 768px) {
    header {
        background-color: #F5C6D6;
    }
    nav {
        background-color: #EE2E84;
    }
    main {
        background-color: #85CFD8;
    }
    footer {
        background-color: #8DC63F;
    }
}


/*----------------------------------Large Screens-------------------------------------*/

@media only screen and (min-width: 768px) {
    header div {
        background-color: #F5C6D6;
        width: 100%;
        height: 200px;
        margin: 5px;
        padding: 0;
        grid-area: head;
    }
    nav div {
        background-color: #EE2E84;
        width: 25%;
        height: 200px;
        margin: 5px;
        padding: 0;
        display: inline-block;
        grid-area: nav;
    }
    main div {
        background-color: #85CFD8;
        width: 50%;
        height: 200px;
        margin: 5px;
        padding: 0;
        display: inline-block;
        grid-area: main;
    }
    footer div {
        background-color: #8DC63F;
        width: 65%;
        height: 200px;
        margin: 5px;
        padding: 0;
        grid-area: footer;
    }
    #orange {
        background-color: #E76E34;
        width: 25%;
        height: 200px;
        margin: 5px;
        padding: 0;
        grid-area: footer;
        float: right;
    }
}