            /*------------------------------------------------------------------
[Table of contents]
 Font / *
 Body
 Header / #header
 Navigation / #navbar
 Content / #content
 Images / .images
 Table / #table
 Boxes / .boxes
 Footer / #footer
-------------------------------------------------------------------*/
            
            * {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            Body {
                background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
                background-size: cover;
            }
            
            #header {
                font-size: 48px;
                text-align: justify;
                width: 25%;
                height: 200px;
                border: solid 1px #555;
                background-size: unset;
                box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                border-radius: 15px;
                position: relative;
                padding: 0;
                margin: 100px;
            }
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: yellow;
                position: absolute;
            }
            
            li {
                float: left;
                margin: 0px;
                border-width: 5px;
                border-style: inset;
                border-color: lightyellow;
            }
            
            li a {
                display: block;
                text-align: center;
                padding: 20px 20px;
                text-decoration: none;
            }
            
            li a:hover {
                background-color: goldenrod;
            }
            
            #content {}
            
            .images {}
            
            #table {}
            
            .boxes {
                width: 90%;
                height: 800px;
                border: solid 1px #555;
                background-image: url(https://i.pinimg.com/originals/7c/4e/de/7c4ede3ab5c6234725e9216bd1bebfbe.png);
                background-size: unset;
                box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
                border-radius: 15px;
                position: relative;
                padding: 5px;
                margin: 100px;
            }
            
            #footer {}