/*---------------------------Font-----------------------------------------------*/

* {
    font-family: 'Courgette', cursive;
    color: black;
}


/*---------------------------Body-----------------------------------------------*/

Body {
    background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
}


/*--------------------------Header-----------------------------------------------*/

#header {
    position: relative;
    font-size: 48px;
    text-align: center;
    width: 25%;
    height: 200px;
    background-size: unset;
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px 5px goldenrod;
    border-radius: 15px;
    padding: 0;
    margin: auto;
}

h1 {
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    border-width: 5px;
    border-style: outset;
    border-color: darkgoldenrod;
    border-radius: 12px;
    font-size: 40px;
}


/*------------------------Navigation---------------------------------------------*/

#navbar ul {
    list-style-type: none;
    margin: 20;
    padding: 50;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

#navbar li {
    float: left;
    margin-right: 10px;
    border-width: 5px;
    border-style: outset;
    border-color: darkgoldenrod;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: transparent;
}

#navbar li a:hover {
    background-color: yellow;
}


/*--------------------------Content----------------------------------------------*/

.inline-content {
    list-style: none;
    margin-left: 15px;
    padding-top: 25px;
    display: inline-flex;
    float: left;
}

figcaption {
    width: 150px;
    border-width: 5px;
    border-style: outset;
    border-color: darkgoldenrod;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

figcaption a {
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

figcaption a:hover {
    background-color: yellow;
}

.inline-content figcaption {
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
}

div p {
    text-align: justify;
    display: inline-block;
    font-size: 28px;
    width: 75%;
    margin: 50px;
}


/*--------------------------Images-----------------------------------------------*/

.images {
    margin-right: 15px;
    border-radius: 25px;
    width: 400px;
    height: 250px;
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px 5px goldenrod;
    border-radius: 15px;
}


/*--------------------------Table------------------------------------------------*/

#table {
    float: left;
    line-height: 55px;
    margin-left: 40px;
    border-radius: 15px;
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px 5px goldenrod;
}

#table td {
    font-weight: bold;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
}

#table th {
    font-weight: bold;
    border-radius: 10px;
    text-decoration: underline;
}


/*--------------------------Boxes------------------------------------------------*/

.boxes {
    width: 75%;
    height: 800px;
    background-size: unset;
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px 5px goldenrod;
    border-radius: 15px;
    position: relative;
    padding: 5px;
    margin: 200px;
}


/*--------------------------Footer-----------------------------------------------*/

#footer {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}