        /*-------------(Defaults)-------------*/
        
        body {
            background-image: url('https://image.freepik.com/free-vector/console-with-games-lettering-neon-sign-brick-background_1262-11854.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        
        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-style: italic;
            color: white;
        }
        /*------------(Mobile)-------------*/
        
        @media only screen and (max-width: 499px) {
            /*-------------Body-------------*/
            #grid-container {
                display: grid;
                grid-template-rows: repeat(8, 1fr);
            }
            /*-------------Header-------------*/
            #flex-container {
                grid-row: 1/2;
                display: flex-wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                margin: 5px;
                position: relative;
            }
            #flex-container div {
                font-size: 50px;
                color: white;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
                text-align: center;
            }
            #flex-container audio {
                padding: 50px;
            }
            /*-------------Nav-------------*/
            #flex-container2 {
                grid-row: 2/3;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px;
                margin: 5px;
            }
            #flex-container2 ul {
                list-style-type: none;
            }
            #flex-container2 li {
                position: relative;
                float: left;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
                margin: 10px;
            }
            #flex-container2 li a {
                padding: 20px;
                text-decoration: none;
            }
            /*-------------Main-------------*/
            #flex-container3 {
                grid-row: 3/8;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;
            }
            #flex-container3 section {
                border: 5px outset firebrick;
                border-radius: 15px;
                justify-content: space-evenly;
                align-items: center;
            }
            #flex-container3 section h6 {
                font-size: 50px;
                color: white;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            #flex-container3 section img {
                border-radius: 10px;
                width: 95%;
                height: 200px;
                margin: 15px;
                float: left;
            }
            #flex-container3 table {
                width: 95%;
                margin-left: 10px;
            }
            /*-------------Footer-------------*/
            Footer {
                text-align: justify;
                font-size: 50px;
                grid-row: 8/9;
                text-align: center;
            }
        }
        /*-------------(Tablets)-------------*/
        
        @media only screen and (min-width: 500px) and (max-width:1099px) {
            /*-------------Body-------------*/
            #grid-container {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(8, 1fr);
            }
            /*-------------Header-------------*/
            #flex-container {
                grid-column: 1/9;
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                margin: 5px;
            }
            #flex-container div {
                font-size: 50px;
                color: white;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
            }
            #flex-container audio {
                padding: 25PX;
            }
            /*-------------Nav-------------*/
            #flex-container2 {
                grid-column: 1/9;
                grid-row: 2/3;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px;
                margin: 5px;
            }
            #flex-container2 ul {
                list-style-type: none;
            }
            #flex-container2 li {
                float: left;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
                margin: 10px;
            }
            #flex-container2 li a {
                padding: 20px;
                text-decoration: none;
            }
            /*-------------Main-------------*/
            #flex-container3 {
                grid-column: 1/9;
                grid-row: 3/8;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;
            }
            #flex-container3 section {
                border: 5px outset firebrick;
                border-radius: 15px;
            }
            #flex-container3 section h6 {
                font-size: 50px;
                color: white;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            #flex-container3 section img {
                border-radius: 10px;
                width: 200px;
                height: 200px;
                margin: 20px;
                float: left;
            }
            #flex-container3 table {
                width: 95%;
                margin-left: 10px;
            }
            /*-------------Footer-------------*/
            Footer {
                text-align: center;
                font-size: 50px;
                grid-column: 1/9;
                grid-row: 8/9;
            }
        }
        /*-------------Desktop-------------*/
        
        @media only screen and (min-width: 1100px) {
            /*-------------Body-------------*/
            #grid-container {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(8, 1fr);
            }
            /*-------------Header-------------*/
            #flex-container {
                grid-column: 1/9;
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                margin: 5px;
            }
            #flex-container div {
                font-size: 50px;
                color: white;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
            }
            #flex-container audio {
                padding: 25px;
            }
            /*-------------Nav-------------*/
            #flex-container2 {
                grid-column: 1/9;
                grid-row: 2/3;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px;
                margin: 5px;
            }
            #flex-container2 ul {
                list-style-type: none;
                padding: 0;
                margin: auto;
            }
            #flex-container2 li {
                float: left;
                border: 5px outset firebrick;
                border-radius: 15px;
                padding: 10px;
                margin: 10px;
            }
            #flex-container2 li a {
                padding: 20px;
                text-decoration: none;
            }
            /*-------------Main-------------*/
            #flex-container3 {
                grid-column: 1/9;
                grid-row: 3/8;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
            }
            #flex-container3 section {
                border: 5px outset firebrick;
                border-radius: 15px;
                margin: 50px;
            }
            #flex-container3 section h6 {
                font-size: 50px;
                color: white;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            #flex-container3 section img {
                border-radius: 10px;
                width: 200px;
                height: 200px;
                margin: 50px;
                float: left;
            }
            #flex-container3 table {
                width: 95%;
                margin-left: 10px;
            }
            /*-------------Footer-------------*/
            Footer {
                text-align: center;
                font-size: 50px;
                grid-column: 1/9;
                grid-row: 8/9;
            }
        }