/*----------------------------------------Mobile-------------------------------------------*/

@media only screen and (max-width: 499px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 100px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
    }
    #header h1 {
        text-align: center;
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
    }
    #navbar ul li a {
        margin: 10px;
    }
    /*------------------------------------Main---------------------------------------------*/
    /*------------------------------------Footer-------------------------------------------*/
    footer {
        font-size: 16px;
        text-align: center;
    }
}


/*----------------------------------------Small Tablets------------------------------------*/

@media only screen and (min-width: 500px) and (max-width:799px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 100px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
    }
    #header h1 {
        text-align: center;
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
    }
    #navbar ul li a {
        margin: 10px;
    }
    /*------------------------------------Main---------------------------------------------*/
    /*------------------------------------Footer-------------------------------------------*/
    footer {
        font-size: 16px;
        text-align: center;
    }
}


/*----------------------------------------Larger Tablets-----------------------------------*/

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 100px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
    }
    #header h1 {
        text-align: center;
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
    }
    #navbar ul li a {
        margin: 10px;
    }
    /*------------------------------------Main---------------------------------------------*/
    /*------------------------------------Footer-------------------------------------------*/
    footer {
        font-size: 16px;
        text-align: center;
    }
}


/*----------------------------------------Desktop------------------------------------------*/

@media only screen and (min-width: 1200px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 100px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
    }
    #header h1 {
        text-align: center;
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
    }
    #navbar ul li a {
        margin: 10px;
    }
    /*------------------------------------Main---------------------------------------------*/
    /*------------------------------------Footer-------------------------------------------*/
    footer {
        font-size: 16px;
        text-align: center;
    }
}