/*----------------------------------------Defaults-----------------------------------------*/

body {
    background-image: url("https://storage-cube.quebecormedia.com/v1/dynamic_resize?quality=75&size=1500x1500&src=http%3A%2F%2Fstorage-cube.quebecormedia.com%2Fv1%2Fcl_prod%2Fcanadian_living%2Fd5c3c1352b898273237a2afda05f74ecc6b9ff85%2F10.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Croissant One';
}


/*----------------------------------------Mobile-------------------------------------------*/

@media only screen and (max-width: 499px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 250px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
        margin: 0px;
        padding: 0px;
    }
    #header h1 {
        font-size: 72px;
        text-align: center;
        text-shadow: 2px 2px 4px #000;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    #header h1 b {
        margin: 0px;
        padding-right: 5px;
        border-right: 3px solid blue;
        border-left: 3px solid blue;
    }
    #header h5 {
        text-align: center;
        font-size: 20px;
        color: black;
    }
    #header h5 em {
        background-color: rgba(255, 255, 255, 0.5);
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        box-shadow: 5px 10px 4px #888888;
        background-color: rgba(255, 255, 255, 0.5);
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
        text-shadow: 2px 2px 3px #777;
        font-size: 20px;
    }
    #navbar ul li a {
        margin: 10px;
        color: blue;
    }
    #navbar ul li a:link {
        color: red;
    }
    #navbar ul li a:hover {
        color: green;
        cursor: pointer;
    }
    /*------------------------------------Main---------------------------------------------*/
    #main {
        grid-row: 3/12;
    }
    #main h4 {
        margin: 0px;
        padding: 0px;
        color: blue;
        font-size: 28px;
        text-align: center;
        text-shadow: 2px 2px 4px #777;
        border-right: 3px solid blue;
        border-left: 3px solid blue;
    }
    #main section {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
        margin-bottom: 20px;
    }
    /*------------------------------------Footer-------------------------------------------*/
    #footer {
        margin: 0px;
        padding: 0px;
        grid-row: 12/13;
        text-align: center;
        color: blue;
        text-shadow: 2px 2px 4px #000;
    }
    #footer div {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
        font-size: 18px;
    }
    #footer-nav1 {
        font-size: 14px;
        list-style-type: none;
    }
    #footer-nav1 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav1 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav2 {
        font-size: 14px;
        list-style-type: none;
    }
    #footer-nav2 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav2 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav3 {
        font-size: 14px;
        list-style-type: none;
    }
    #footer-nav3 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav3 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
}


/*----------------------------------------Small Tablets------------------------------------*/

@media only screen and (min-width: 500px) and (max-width:799px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 250px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
        margin: 0px;
        padding: 0px;
    }
    #header h1 {
        font-size: 72px;
        text-align: center;
        text-shadow: 2px 2px 4px #000;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    #header h1 b {
        margin: 0px;
        padding-right: 5px;
        border-right: 3px solid blue;
        border-left: 3px solid blue;
    }
    #header h5 {
        text-align: center;
        font-size: 20px;
        color: black;
    }
    #header h5 em {
        background-color: rgba(255, 255, 255, 0.5);
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        box-shadow: 5px 10px 4px #888888;
        background-color: rgba(255, 255, 255, 0.5);
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
        text-shadow: 2px 2px 3px #777;
        font-size: 20px;
    }
    #navbar ul li a {
        margin: 10px;
        color: blue;
    }
    #navbar ul li a:link {
        color: blue;
    }
    #navbar ul li a:hover {
        color: green;
        cursor: pointer;
    }
    /*------------------------------------Main---------------------------------------------*/
    #main {
        grid-row: 3/12;
    }
    #main h4 {
        margin: 0px;
        padding: 0px;
        font-size: 28px;
        color: blue;
        text-align: center;
        text-shadow: 2px 2px 4px #777;
    }
    #main section {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
        margin-bottom: 20px;
    }
    /*------------------------------------Footer-------------------------------------------*/
    #footer {
        grid-row: 12/13;
        font-size: 28px;
        text-align: center;
        color: blue;
        text-shadow: 2px 2px 4px #000;
    }
    #footer div {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
    }
    #footer-nav1 {
        font-size: 20px;
        list-style-type: none;
        float: left;
    }
    #footer-nav1 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav1 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav2 {
        font-size: 20px;
        list-style-type: none;
        float: left;
    }
    #footer-nav2 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav2 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav3 {
        list-style-type: none;
        float: right;
        margin-left: 100px;
    }
    #footer-nav3 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav3 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
}


/*----------------------------------------Larger Tablets-----------------------------------*/

@media only screen and (min-width: 800px) and (max-width: 1199px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 250px);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
        margin: 0px;
        padding: 0px;
    }
    #header h1 {
        font-size: 125px;
        text-align: justify;
        text-shadow: 2px 2px 4px #000;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    #header h1 b {
        margin: 0px;
        padding-right: 5px;
        border-right: 3px solid blue;
        border-left: 3px solid blue;
    }
    #header h5 {
        text-align: justify;
        font-size: 20px;
        color: black;
    }
    #header h5 em {
        background-color: rgba(255, 255, 255, 0.5);
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
    }
    #navbar ul li {
        box-shadow: 5px 10px 4px #888888;
        background-color: rgba(255, 255, 255, 0.5);
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
        text-shadow: 2px 2px 3px #777;
        font-size: 20px;
    }
    #navbar ul li a {
        margin: 10px;
        color: blue;
    }
    #navbar ul li a:link {
        color: blue;
    }
    #navbar ul li a:hover {
        color: green;
        cursor: pointer;
    }
    /*------------------------------------Main---------------------------------------------*/
    #main {
        grid-row: 3/12;
    }
    #main h4 {
        margin: 0px;
        padding: 0px;
        font-size: 28px;
        color: blue;
        text-align: center;
        text-shadow: 2px 2px 4px #777;
    }
    #main section {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
        margin-bottom: 20px;
    }
    /*------------------------------------Footer-------------------------------------------*/
    #footer {
        grid-row: 12/13;
        font-size: 28px;
        text-align: center;
        color: blue;
        text-shadow: 2px 2px 4px #000;
    }
    #footer div {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
    }
    #footer-nav1 {
        font-size: 20px;
        list-style-type: none;
        float: left;
    }
    #footer-nav1 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav1 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav2 {
        font-size: 20px;
        list-style-type: none;
        float: left;
    }
    #footer-nav2 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav2 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav3 {
        font-size: 20px;
        list-style-type: none;
        float: left;
    }
    #footer-nav3 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav3 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
}


/*----------------------------------------Desktop------------------------------------------*/

@media only screen and (min-width: 1200px) {
    /*------------------------------------Body---------------------------------------------*/
    #grid-container {
        display: grid;
        grid-template-rows: repeat(12, 300px);
        grid-template-columns: repeat(4, 1fr);
    }
    /*------------------------------------Header-------------------------------------------*/
    #header {
        grid-row: 1/2;
        grid-column: 1/5;
        margin: 0px;
        padding: 0px;
    }
    #header h1 {
        font-size: 175px;
        text-align: justify;
        text-shadow: 4px 4px 8px #000;
        color: blue;
        margin: 0px;
        padding: 0px;
    }
    #header h1 b {
        margin: 0px;
        padding-right: 5px;
        border-right: 3px solid blue;
        border-left: 3px solid blue;
    }
    #header h5 {
        text-align: justify;
        font-size: 20px;
        color: black;
    }
    #header h5 em {
        background-color: rgba(255, 255, 255, 0.5);
    }
    /*------------------------------------Nav----------------------------------------------*/
    #navbar {
        grid-row: 2/3;
        grid-column: 1/5;
    }
    #navbar ul li {
        box-shadow: 5px 10px 4px #888888;
        background-color: rgba(255, 255, 255, 0.5);
        list-style-type: none;
        float: left;
        padding: 5px;
        margin: 20px;
        font-size: 20px;
    }
    #navbar ul li:hover {
        background-color: blue;
    }
    #navbar ul li a {
        margin: 10px;
        color: blue;
    }
    #navbar ul li a:link {
        color: blue;
    }
    #navbar ul li a:hover {
        color: whitesmoke;
        cursor: pointer;
    }
    /*------------------------------------Main---------------------------------------------*/
    #main {
        grid-row: 3/11;
        grid-column: 1/5;
    }
    #main h4 {
        margin: 0px;
        padding: 0px;
        font-size: 28px;
        color: blue;
        text-align: center;
        text-shadow: 2px 2px 4px #777;
    }
    #main section {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
        margin-bottom: 20px;
    }
    /*------------------------------------Footer-------------------------------------------*/
    #footer {
        grid-column: 1/5;
        grid-row: 11/13;
        font-size: 28px;
        text-align: center;
        color: blue;
        text-shadow: 2px 2px 4px #000;
    }
    #footer div {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 5px 10px 4px #888888;
    }
    #footer-nav1 {
        font-size: 20px;
        list-style-type: none;
    }
    #footer-nav1 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav1 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav2 {
        font-size: 20px;
        list-style-type: none;
    }
    #footer-nav2 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav2 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
    #footer-nav3 {
        font-size: 20px;
        list-style-type: none;
    }
    #footer-nav3 li a {
        color: blue;
        text-decoration: none;
    }
    #footer-nav3 li a:hover {
        background-color: blue;
        color: whitesmoke;
    }
}