* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    font-size: 100px;
    background-color: lightblue;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpI_rWUwT5rFtugZckTOud0ZI49WP2HmbQxg&usqp=CAU)
}

img {
    position: relative;
    float: left;
    padding: 30px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;
}

li {
    float: left;
    margin: 0px;
    border-width: 5px;
    border-style: inset;
    border-color: lightsteelblue;
}

li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.date {
    text-decoration: underline;
}

.box-content {
    position: relative;
    left: 30px;
    top: 50px;
    border-style: inset;
    border-color: lightskyblue;
    border-width: 10px;
    padding: 25px;
    margin: 100px;
    height: 400px;
    box-shadow: 20px 25px lightsteelblue;
    overflow: hidden;
    background-color: lightblue;
}

.center {
    border-width: 5px;
    border-style: inset;
    border-color: lightskyblue;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    background-color: lightblue;
}

#top {
    text-decoration: underline;
    border-style: inset;
    border-color: lightskyblue;
    border-width: 10px;
    padding: 25px;
    margin: 50px;
    height: 300px;
    box-shadow: 20px 25px lightsteelblue;
}