div>h1 {
    color: darkgreen;
}

img {
    float: left;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.font-family {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#footer {
    text-transform: uppercase;
}